- study = entity

- action_card = ActionCard.new

- action_card.description do

  :markdown
    These results come from [MutSigCV 1.4](https://www.broadinstitute.org/cancer/cga/mutsig)

= action_card_render action_card do
  
  - job = study.job(:mut_sig)
  - job.relay_log(@step)
  - tsv = job.run
  - tsv.fields = tsv.fields.collect do |f| 
    - case f
    - when 'p'
      - 'p-value'
    - when 'q'
      - 'q-value'
    - else
      - f

  - tsv.fields.each do |field|
    - header field, "NumericValue"
  = table :table_id => "MutSig #{study}", :page => "1~p-value" do
    - tsv
